.cart{
  position: sticky;
  top: 0;
}
.order-header{
  text-align: center;
  padding: 20px 0px;
}
.order-btn{
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white;
  border: none;
  margin: 7px 0px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.btn-icon{
  margin-left: 6px;
}
#btn1{
  background-color: red;
}
#btn2{
  background-color: orange;
}
#btn1:hover{
  background-color: rgba(255, 0, 0, 0.661);
}
#btn2:hover{
  background-color: rgb(43, 255, 0);
  color: black;
}